.scrolling-group-container {
  overflow-x: scroll;
  scrollbar-width: thin; /* For Firefox */
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS devices */
}

.scrolling-group {
  display: flex;
  flex-direction: row;
  /* Add any other styles for your content */
}
.scrolling-group-container::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
  background-color: transparent; /* Set the background color to transparent */
  /* display: none; */
}

.scrolling-group-container::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Adjust the color and transparency as needed */
}
