.scrolling-group-container {
  overflow-x: scroll;
  scrollbar-width: thin; /* For Firefox */
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS devices */
}

.scrolling-group {
  display: flex;
  flex-direction: row;
}
.scrolling-group-container::-webkit-scrollbar {
  width: 0.5rem; 
  background-color: transparent; 
}

.scrolling-group-container::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); 
}
